<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <input type="text" id="name" placeholder="Your Name" class="form-control"/>
        <br />
        <input type="text" class="form-control" placeholder="Message" id="message"/>
        <br/>
        <button class="btn btn-success" id="send-message">Send Message</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <textarea class="form-control" id="chat-area" disabled="disabled" rows="20"></textarea>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/index.js"></script>
}